/* PROJECT: COLMAR ACADEMY */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900|Nunito+Sans:700|Open+Sans:300,400,600');

/*
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
*/

html {
  font-size: 100%;
  color: #424242;
}
body {

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: .85em;
}
p {
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}
a, ul, span, blockquote {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
a:link {
  color: #3b3bff;
  text-decoration: none;
}
a:hover,
a:visited {
  color: #7676ff;
  text-decoration: none;
  transition: .75s ease;
}


/* HEADER
============================ */
.menu-top {
  height: 64px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-mobile {
  display: none;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-grow: 1;
  line-height: 32px;
}
.logo .logo-bold {
  font-weight: 900;
}
.menu-items ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.menu-items ul li {
  margin-right: 16px;
}
.menu-items ul li:last-child {
  margin-right: 0;
}
.menu-items ul li a {
  color: #424242;
}
.menu-items ul li a:hover {
  color: #3b3bff;
}

/* @end HEADER
============================ */

/* SECTION BLOCK(S)
============================ */
.block1,
.block2,
.block2-alt {
  height: auto;
  min-height: 200px;
  padding: 0 24px;
}
.block1,
.info-sections {
  display: flex;
  justify-content: flex-start;
}
.block1,
.block3 {
  background-color: lightgrey;
}
.block1 .section-left,
.block1 .section-right,
.block2 .section-left,
.block2 .section-right {
  padding: 32px 0;
}
.section-left {
  width: 60%;
  margin-right: 24px;
}
.section-left img,
.section-left video {
  width: 100%;
  height: auto;
}
.section-right {
  width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block2-alt .section-right {
  justify-content: flex-start;
}
.block1 .section-right h1,
.block1 .section-right p,
.block1 .section-right span {
  margin: 15px 0;
}
.section-left h2,
.section-right h1,
.section-right h4,
.info-title {
  font-weight: bold;
}
.btn {
  padding: 8px 100px;
  display: block;
  background-color: #424242;
  color: white;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: #252525;
  transition: 1s ease;
}
.block2 .section-right {
  width: 40%;
  border-left: solid thin #f2f2f2;
}
.block2-alt .section-right {
  width: 40%;
}
.block2 .section-left img,
.block2-alt .section-left img {
  margin-bottom: 32px;
}
.block2 .section-left .section-content h2,
.block2 .section-left .section-content blockquote,
.block2-alt .section-left .section-content h2,
.block2-alt .section-left .section-content blockquote {
  margin-bottom: 24px;
}
.block2 .section-left .section-content .quote,
.block2 .section-left .section-content .author,
.block2-alt .section-left .section-content .quote,
.block2-alt .section-left .section-content .author {
  font-size: .85em;
}
.block2 .info-post-mobile {
  display: none;
}
.block2 .section-right .info-post,
.block2-alt .section-right .info-post {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.block2 .section-right .info-post:first-child {
  padding-top: 0;
  border-bottom: solid thin #f2f2f2;
}
.block2 .section-right .info-post:nth-child(1n+2) {
  margin-top: 1px;
  border-top: solid thin #f2f2f2;
}
.block2 .section-right .info-post:last-child {
  background-color: lightgrey;
}
.block2 .section-right img.info-post-reg,
.block2-alt .section-right .info-post img {
  width: 35%;
  height: auto;
  padding: 0 16px 0 0;
}
.block2 .section-right .info-post h4,
.block2 .section-right .info-post span,
.block2 .section-right .info-post a,
.block2-alt .section-right .info-post h4,
.block2-alt .section-right .info-post span,
.block2-alt .section-right .info-post a {
  margin: 8px 0;
}
.block2 .section-right .info-post span,
.block2 .section-right .info-post a,
.block2-alt .section-right .info-post span,
.block2-alt .section-right .info-post a {
  font-size: .85em
}
.block2 .section-right .info-post span,
.block2-alt .section-right .info-post span {
  display: block;
}
.block3 {
  height: auto;
  min-height: 200px;
  padding: 32px 56px;
}
.block3 .info-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.info-title {
  text-align: center;
  margin-bottom: 32px;
}
.block3 .info-block {
  width: 30%;
  margin: 0 16px 32px 16px;
  background-color: white;
}
.block3 .info-block img {
  width: 100%;
  height: auto;
}
.block3 .info-block-copy {
  padding: 16px 16px 24px 16px;
}
.block3 .info-block-copy h4,
.block3 .info-block-copy h6 {
  margin-bottom: 8px;
}
.block3 .info-block-copy h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.block3 .info-block-copy span {
  font-size: .85em;
}
.block2-alt {
  padding-bottom: 12px;
}
.block2-alt .info-title {
  padding-top: 32px;
}
.block2-alt .section-left video {
  margin-bottom: 24px;
}
.block2-alt .section-right .info-post:first-child {
  background-color: lightgrey;
}
/* @end SECTION BLOCK(S)
============================ */

/* FOOTER
============================ */
footer {
  padding: 16px 24px;
  font-size: .8em;
  border-top: solid thin #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright {
  flex-grow: 1;
}
/* @end FOOTER
============================ */

/* <768px
============================ */
@media only screen and (max-width: 768px) {
  .logo {
    width: 100%;
    justify-content: space-between;
    flex-grow: 0;
  }
  .logo span {
    display: none;
  }
  .menu-mobile {
    display: inline-block;
  }
  .menu-items {
    display: none;
  }
  .block1 {
    display: block;
  }
  .section-left,
  .section-right {
    width: 100%;
  }
  .block1, .block2, .block2-alt {
    padding: 0;
  }
  .block1 .section-left {
    padding: 0;
  }
  .block1 .section-right {
    padding-top: 0;
    padding-bottom: 0;
  }
  .block1 .section-right-copy {
    padding: 0 16px;
  }
  .block1 .section-right h1,
  .block1 .section-right span {
    margin-bottom: 32px;
  }
  .block1 .section-right p {
    margin-bottom: 24px;
  }
  .btn {
    background-color: #878787;
  }
  .btn:hover {
    background-color: #424242;
  }
  .block2 .section-left {
    display: none;
  }
  .block2 .section-right {
    width: 100%;
    padding-top: 16px;
  }
  .block2 .section-right .info-post {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 48px;
  }
  .block2 .section-right .info-post:last-child {
    margin-bottom: 0;
  }
  .block2 .section-right .info-post:first-child,
  .block2 .section-right .info-post:nth-child(1n+2),
  .block2 .section-right .info-post:last-child {
    border: none;
    background-color: white;
  }
  .block2 .info-post-reg {
    display: none;
  }
  .block2 .info-post-mobile {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  .block2 .post {
    padding-left: 16px;
  }
  .block3,
  .block2-alt {
    background-color: white;
    border-top: solid thin #f2f2f2;
  }
  .block3 .info-blocks {
    flex-direction: column;
    align-items: center;
  }
  .block3 .info-block {
    width: 100%;
    margin: 0 0 8px 0;
    padding: 16px 16px 24px 16px;
    background-color: lightgrey;
  }
  .block3 .info-block:hover {
    color: white;
    background-color: #424242;
    transition: 1s ease;
  }
  .block3 .info-block-copy h4 {
    margin-bottom: 0;
  }
  .block3 img,
  .block3 h6,
  .block3 span {
    display: none;
  }
  .block2-alt .section-left {
    margin: 0;
  }
  .block2-alt .section-content {
    display: none;
  }
  .block2-alt .section-right {
    display: none;
  }
  .block2-alt .info-title {
    margin-bottom: 16px;
  }
  footer {
    text-align: center;
    border: none;
  }

}
